<!doctype html>
<html>
	<head>
		<title>Product List</title>
	</head>
	<body>
		<h2>Product List</h2>
		<form method="GET">
			<input type="text" name="query" placeholder="Search products..." value="{{ query }}" />
			<button type="submit">Search</button>
		</form>
		<ul>
			{% for product in products %}
			<li>{{ product.id }}</li>
			<a href="{% url 'product_detail' product.id %}">
				<li>{{ product.title }}</li>
			</a>
			<li>{{ product.price }}</li>
			<li>{{ product.location }}</li>
			<li>{{ product.status }}</li>
			<li>{{ product.description }}</li>
			<li>{{ product.user.username }}</li>
			<li>{{ product.category.name }}</li>
			{% endfor %}
		</ul>
	</body>
</html>
